#first-steps-two {
   .add-subject {
      text-align: left;
      background: $color-white;
      padding: 20px;
      border-radius: 4px;
      .item {
      	.img-holder {
      		padding-top: 3px;
      		.icon-circle {
      			use {
      				fill: $color-blue;
      			}
      		}
      	}
         .item-info {
            padding: 0;
         }
      }
   }
   .subjects-section {
      overflow: hidden;
      position: relative;
      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
   }
}
