/.settings
/Guardfile
/nbproject
/project.xml
src/.htaccess
src/.htpasswd
src/index.php
src/adminer.php
src/application/*
src/assets/css/.jsbeautifyrc
src/assets/images/apple-btn.png
src/assets/images/club/social_event_large-d8d8d8-300x300.png
src/assets/images/club/social_event_large-d8d8d8.png
src/assets/js/include
src/assets/js/jquery/jquery-1.8.2.mini.js
src/chat/admin/.htaccess_1
src/chat/admin/.htpasswd
src/chat/cache/*
src/chat/integration.php
src/chat/plugins/filetransfer/uploads/*
src/chat/plugins/handwrite/uploads/*
src/chat/temp/*
src/index.php
src/mailgun_api.php
src/nbproject
src/robots.txt
src/simplesamlphp/config/config.php
src/simplesamlphp/config/translation.php
src/simplesamlphp/config/authmemcookie.php
src/simplesamlphp/config/authsources.php
src/simplesamlphp/metadata/saml20-sp-hosted.php
src/simplesamlphp/metadata/saml20-idp-remote.php
src/simplesamlphp/nbproject
src/simplesamlphp/nbproject/*
sys/cache/*
sys/doctrine_proxies
sys/doctrine_proxies/*
sys/logs/*
/ucroo.conf
ugc
ugc/*
sys
sys/*
fabfile.pyc
fabfile.py
src/apacheconf
src/apacheconf/*
dev
dev/*
src/system/.htaccess
src/tools/.htaccess
src/tests/_output/*
src/tests/_envs/production.yml
src/tests/_envs/staging.yml
src/tests/_envs/local.yml

###   frontend rules
/src/.tmp
/src/bower_components
/src/node_modules
/src/assets_new
/src/scripts
/src/index.html
/src/styles
/src/tsd.json
/src/app
**/.idea
**/.phpintel
/.project
