#first-steps {
   .first-steps-overlay-content {
      #first-steps-four {
         .title-wrapper {
            margin-bottom: 100px;
         }
      }
      .pad-info {
      	margin-top: 40px;
      	a {
      		color: $color-blue;
      	}
      }
   }
}
