@font-face {
    font-family: 'latobold';
    src: url('/assets_new/fonts/lato/lato-bold-webfont.eot');
    src: url('/assets_new/fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets_new/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('/assets_new/fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('/assets_new/fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('/assets_new/fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoitalic';
    src: url('/assets_new/fonts/lato/lato-italic-webfont.eot');
    src: url('/assets_new/fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets_new/fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('/assets_new/fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('/assets_new/fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('/assets_new/fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('/assets_new/fonts/lato/lato-regular-webfont.eot');
    src: url('/assets_new/fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets_new/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('/assets_new/fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('/assets_new/fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('/assets_new/fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
   font-family: 'latoblack';
   src: url('/assets_new/fonts/lato/lato-black-webfont.eot');
   src: url('/assets_new/fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
   url('/assets_new/fonts/lato/lato-black-webfont.woff2') format('woff2'),
   url('/assets_new/fonts/lato/lato-black-webfont.woff') format('woff'),
   url('/assets_new/fonts/lato/lato-black-webfont.ttf') format('truetype'),
   url('/assets_new/fonts/lato/lato-black-webfont.svg#latoregular') format('svg');
   font-weight: normal;
   font-style: normal;

}

@font-face {
  font-family: 'Latolight';
  src: url('/assets_new/fonts/lato/lato-light.eot');
  src: url('/assets_new/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'),
  url('/assets_new/fonts/lato/lato-light.woff2') format('woff2'),
  url('/assets_new/fonts/lato/lato-light.woff') format('woff'),
  url('/assets_new/fonts/lato/lato-light.ttf') format('truetype'),
  url('/assets_new/fonts/lato/lato-light.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
   font-family: 'robotoboldwebfont';
   src: url('/assets_new/fonts/lato/roboto-bold-webfont.eot');
   src: url('/assets_new/fonts/lato/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
   url('/assets_new/fonts/lato/roboto-bold-webfont.woff2') format('woff2'),
   url('/assets_new/fonts/lato/roboto-bold-webfont.woff') format('woff'),
   url('/assets_new/fonts/lato/roboto-bold-webfont.ttf') format('truetype'),
   url('/assets_new/fonts/lato/roboto-bold-webfont.svg#latoregular') format('svg');
   font-weight: normal;
   font-style: normal;

}
