@import 'mixins';

.color-grey-middle {
   color: $color-grey-middle;
}

.connections-section {
   .lst-selected-filters {
      svg {
         width: 16px;
         height: 16px;
         float: right;
         margin: 2px 15px 0 10px;
      }
   }
}

.ur-dropdown-menu {
   .wrap-dd-menu {
      width: initial;
      padding: 0;
      border: none;
      box-shadow: none;

      > a {
         color: $color-blue;
         cursor: pointer;
      }

      .dropdown {
         top: 120%;
         width: 275px;
         left: initial;
         border-radius: 3px;
         padding: 0;

         li {
            a {
               border-bottom: none;
               color: $color-grey;
               background-color: $color-white;
               font-size: $font11;
               padding: 10px 16px;
            }
            &:hover {
               a {
                  color: $color-menu-grey;
                  background-color: $color-bg-grey;
               }
            }
            &:first-of-type, &:last-of-type {
               a {
                  border-radius: 0;
               }
            }
         }

         &:before {
            right: 20px;
         }
         &:after {
            right: 22px;
         }
      }

      &:after {
         all: unset;
      }
   }
}
#main-content {
   .connections-header {
      position: relative;

      .lst-selected-filters {
         float: none;
         margin-left: 100px;
         a:hover use {
            fill: #3a91e0;
            color: #3a91e0;
         }
      }
   }
}
