<div class="groups-section">
   <div class="section" ng-if="profileInfo.mentor_groups_joined.length">
      <h2>
         <svg class="mentors">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mentors"></use>
         </svg>
         <span>Mentors</span>
      </h2>
      <div class="item clearfix" ng-repeat="group in profileInfo.mentor_groups_joined">
         <figure class="img-holder">
            <a href="#"><img class="photo" ng-src="/assets_new/images/photo-small.jpg"></a>
         </figure>
         <div class="popup-info">
            <h3><a href="#">{{group.name}}</a></h3>
            <span class="message-update" ng-repeat="members in group.description">{{members}}</span>
         </div>
      </div>
   </div>
   <div class="section" ng-if="profileInfo.clubs_joined.length">
      <h2>
         <svg class="study">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-study"></use>
         </svg>
         <span>Clubs & Societies</span>
      </h2>
      <div class="item clearfix" ng-repeat="group in profileInfo.clubs_joined">
         <figure class="img-holder">
            <a href="#"><img class="photo" ng-src="/assets_new/images/photo-small.jpg"></a>
         </figure>
         <div class="popup-info">
            <h3>
               <a href="#" >{{ group.name }}</a>
               <!-- <svg class="tick"><use xlink:href="#profile-tick" /></svg> -->
            </h3>
            <span ng-repeat="members in group.description">{{members}}</span>
         </div>
      </div>
   </div>

   <div class="section" ng-if="profileInfo.services_joined.length">
      <h2>
         <svg class="study">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-study"></use>
         </svg>
         <span>Student Services</span>
      </h2>
      <div class="item clearfix" ng-repeat="group in profileInfo.services_joined">
         <figure class="img-holder">
            <a href="#"><img class="photo" ng-src="/assets_new/images/photo-small.jpg"></a>
         </figure>
         <div class="popup-info">
            <h3>
               <a href="#" >{{ group.name }}</a>
               <!-- <svg class="tick"><use xlink:href="#profile-tick" /></svg> -->
            </h3>
            <span ng-repeat="members in group.description">{{members}}</span>
         </div>
      </div>
   </div>

   <div class="section" ng-if="profileInfo.study_groups_joined.length">
      <h2>
         <svg class="study">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-study"></use>
         </svg>
         <span>Study Groups</span>
      </h2>
      <div class="item clearfix" ng-repeat="group in profileInfo.study_groups_joined">
         <figure class="img-holder">
            <a href="#"><img class="photo" ng-src="/assets_new/images/photo-small.jpg"></a>
         </figure>
         <div class="popup-info">
            <h3>
               <a href="#" >{{ group.name }}</a>
               <!-- <svg class="tick"><use xlink:href="#profile-tick" /></svg> -->
            </h3>
            <span ng-repeat="members in group.description">{{members}}</span>
         </div>
      </div>
   </div>
   <div class="section" ng-if="profileInfo.custom_groups_joined.length">
      <h2>
         <svg class="custom">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-custom"></use>
         </svg>
         <span>Custom Groups</span>
      </h2>
      <div class="item clearfix" ng-repeat="group in profileInfo.custom_groups_joined">
         <figure class="img-holder">
            <a href="#"><img class="photo" ng-src="/assets_new/images/photo-small.jpg"></a>
         </figure>
         <div class="popup-info">
            <h3><a href="#" >{{group.name}}</a></h3>
            <span class="message-update" ng-repeat="members in group.description">{{members}}</span>
         </div>
      </div>
   </div>
</div>
