<div class="connections-section connections-request-section">
   <h2 ng-show="listConnectionsRequest.length">
      <span ng-hide="noConnections">{{listConnectionsRequest.length}} connections</span>
      <span ng-show="noConnections">You have no connections.</span>
   </h2>
   <div class="section">
      <div class="item" ng-repeat="connection in listConnectionsRequest | filter:searchString">
         <figure class="img-holder">
            <a href="#" ui-sref="profile({id:connection.user_id})"><img class="photo" ng-src="{{connection.profile_pic}}"></a>
         </figure>
         <div class="r-side">
            <button type="button" class="default-btn ignore" ng-click="blockRequest($index, connection.user_id)">Ignore</button>
            <button type="button" class="btn-green" ng-click="acceptRequest($index, connection.user_id)">Accept</button>
         </div>
         <div class="item-info">
            <h3>
               <a href="#" ui-sref="profile({id:connection.user_id})">{{connection.name}}</a>
            </h3>
            <span>{{connection.course || '-'}}</span>
            <span>{{connection.campus}}</span>
         </div>
      </div>
   </div>
</div>
