<div class="footer-main clearfix">
     <div class="footer-section">
         <ul>
             <li><a href="http://support.ucroo.com.au/" target="_blank" title="Support">Support</a></li>
             <li><a href="http://support.ucroo.com.au/contact-us/" target="_blank" title="Contact">Contact</a></li>
         </ul>
     </div><!-- /.footer-section-->
     <div class="footer-section">
         <ul>
             <li>
                 <a href="http://support.ucroo.com.au/terms-of-use/" target="_blank" title="Terms">Terms</a>
             </li>
             <li>
                 <a href="http://support.ucroo.com.au/privacy/" target="_blank" title="Privacy">Privacy</a>
             </li>
         </ul>
     </div><!-- /.footer-section-->
     <div class="footer-section">
         <ul>
             <li>
                 <a href="http://support.ucroo.com.au/serviceagreement/" target="_blank" title="Service Agreement">Service Agreement</a>
             </li>
             <li>
                <a href="http://support.ucroo.com.au/knowledgebase/accessibility-statement/" target="_blank" title="Accessibility Statement">Accessibility Statement</a>
             </li>
         </ul>
     </div><!-- /.footer-section-->
     <div class="footer-section connect-us">
         <h4>Connect with us</h4>
         <ul class="social-icons">
             <li class="icon-facebook">
                 <svg><use xlink:href="#footer-ico-facebook"></use></svg>
             </li>
             <li class="icon-twitter">
                 <svg><use xlink:href="#footer-ico-twitter"></use></svg>
             </li>
         </ul>
     </div><!-- /.footer-section connect-us-->
     <div class="footer-section footer-logo">
         <svg><use xlink:href="#footer-footer-logo"></use></svg>
     </div><!-- /.footer-section-->
</div><!-- /.footer-main -->

