#news-section.news-details {
   .photo-holder {
      svg, img {
         width: 35px;
         height: 35px;
      }
   }
}
.news-details {
   .post-heading {
      .post-options {
         float: right;
      }
   }
}
