<div class="uc-field-list input-blocks">
   <ul class="option-item options-link">
      <li ng-repeat="option in options track by $index">
         <div class="col">
            <input class="input-small" type="text" placeholder="{{placeholder}}" ng-model="option[field]" />
         </div>
         <div class="col">
            <div class="select-custom select-small">
               <select ng-model="option[field2]" ng-class="{selected : option[field2]}">
                  <option disabled hidden value="">{{placeholder2}}</option>
                  <option ng-repeat="item in selectOptions" value="{{item}}">{{item}}</option>
               </select>
            </div>
         </div>
         <svg class="ico-remove r-side" ng-click="removeOption($index)">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use>
         </svg>
      </li>
   </ul>
   <div class="holder">
      <ul class="post-options r-side">
         <li>
            <a href="#" ng-click="addOption()">
               <svg class="ico-add">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#popup-plus"></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</div>
